{% extends 'templates/default.twig' %}

{% block title %}{{ user.getFullNameOrUsername }}{% endblock %}

{% block styles %}
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="box first" id="container">
			<div class="row">
				<div class="center gap">
		            <h2>Admin Area</h2>
		        </div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio eveniet perferendis sed possimus rem, numquam enim ducimus nihil, inventore at temporibus aliquid provident facere? Ipsam, veniam eligendi quibusdam non perspiciatis!</p>
			</div>
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#services-->
{% endblock %}